@import '../variables';

p {
  margin: 0;
  padding: 0;
}

// mat-card {
//   text-align: center;
//   width: fit-content;
//   padding: 3em;
// }

mat-card-title {
  color: $primary;
}

button[mat-raised-button] {
  width: 100%;
  background-color: $primary;
  color: $text;
}

button[mat-button] {
  color: $primary;
}

mat-form-field {
  width: 29.5em;
}

