@import '../variables';

mat-card {
  text-align: center;
  width: fit-content;
  padding: 2.5em;
  background-color: #FAFAFAF0;
}

.stacked {
  grid-area: 1 / 1 / 1 / 1;
}

.grid {
  display: grid;
}

.center {
  margin: auto, auto, auto, auto;
}
