.all_content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image: url(/assets/background.jpg);
  background-size: cover;
}
