@import '../variables';

a {
    text-decoration: none;
    color: $text;
}

mat-toolbar {
    background-color: $primary;
    color: $text;
}

.trailing {
    position: fixed;
    right: 0;
    margin: auto 1em;
}